<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UPC.NoobCryptStore.DA.Properties.Settings.NoobcryptStoreConnectionString"
            connectionString="Data Source=upcdsd01.cs3oxwkdlusc.us-east-2.rds.amazonaws.com;Initial Catalog=NoobcryptStore;Persist Security Info=True;User ID=admin;Password=upcdsd0121##"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>